body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.app {
  position: relative;
  min-height: 100vh !important;
  background-color: #fafafa;
}

nav {
  height: 100px;
  background-color: #fff;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  padding: 0 100px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}

.nav-brand {
  color: #0290ff;
  font-weight: 700;
  margin-right: 50px;
}

.book-list {
  margin: 0 100px;
}

.book {
  height: 170px;
  padding: 30px;
  margin-top: 15px;
  background-color: #fff !important;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.category {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
  margin-bottom: 5px;
}

.author {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.actions ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.actions ul li {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  margin-right: 10px;
}

.progress {
  width: 300px;
}

.completed {
  color: #121212;
  font-family: 'Montserrat', sans-serif;
}

.completed p {
  opacity: 0.5;
}

.book-right div.prog {
  border-right: solid 2px #e8e8e8;
}

.current-chapter {
  width: 290px !important;
  margin-bottom: 7px !important;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter-name {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.update-progress {
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.book-form {
  margin: 40px 100px;
  border-top: solid 2px #e8e8e8;
  padding-top: 40px;
}

.form-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 20px;
}

.form-edit-header {
  font-size: 30px;
}

.form-body {
  justify-content: space-around;
}

.input {
  padding: 10px;
}

.input input,
.input select {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #4d4d4d;
  height: 100%;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  outline: none !important;
}

.input select {
  color: #4d4d4d;
}

.input button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.input * {
  padding: 15px;
}

.no-books {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.show-modal {
  transition: all 0.8s;
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: white;
}
